@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #e9ecef;
}

* {
    box-sizing: border-box;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

input {
    outline: none;
    border: #dfdfdf solid 1px;
    border-radius: 3px;
    background: none;
}

input:focus {
    outline: none;
    border: dodgerblue solid 1px;
}
